@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --violet-: hsl(257, 40%, 49%);
    --soft-magenta-: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* Setting up */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1.5rem;
    font-family:'Open Sans', sans-serif;
    font-size: 1rem;
    background-color: var(--violet-);
    background-image: url('images/bg-mobile.svg');
    background-size: cover;
}

/* Styling the Huddle logo */
header img{
    width: 45%;
}

/* Styling the main content */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.75rem;
}

article {
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

section img.illustration-mockup {
    width: 100%;
}
